<ion-header>
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let usuario of usuarios">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{usuario.username}}</ion-card-title>
      <ion-card-subtitle>{{usuario.email}}</ion-card-subtitle>
      <ion-card-subtitle>{{usuario.phone}}</ion-card-subtitle>
      <ion-card-subtitle>{{usuario.website}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{usuario.address.street}} {{usuario.address.suite}}, {{usuario.address.city}}
    </ion-card-content>
  </ion-card>
</ion-content>